	body{
		background-image: url(https://cdn.shutterstock.com/shutterstock/videos/23047210/thumb/1.jpg);
		background-size: cover; 
	}
	#titlebar{
		text-align: center;
		font-size: 70px;
		text-shadow: 5px 5px 10px black;
		color:rgb(19,228,247);
		background: rgba(0,0,0, .4);
		/*position: fixed; top: -50px; left:400px;*/
		/*background-image: linear-gradient(to right, rgb(3,37,40) 25%,rgb(16,200,220) 150%);*/
		/*background-blend-mode: color-dodge;*/
	}
	.ButtomFX{
		text-shadow: 5px 5px 10px black;
		color:rgb(19,228,247);
	}
	.ButtomFX:hover {
		text-shadow: 4px 3px 10px white;
	}
	.ContactButtomFX{
		filter: grayscale(90%);
	}
	.ContactButtomFX:hover{
		filter: grayscale(0%);
	}